extends layout

block content
  h1= title
  p Welcome to #{title}
  div#tasks
    ul.list-group(v-cloak)
    li.list-group-item(v-for="task in tasks")
      a(v-bind:style='{background:task.$.PRIORITYWEBCOLOR}',style='background:#ccc') {{ task.$.ID }} {{ task.$.TITLE }}
  script.
    var data =  !{JSON.stringify(data)};
    var tasks_vm = new Vue({
        el: '#tasks',
        data: {
            tasks: data.TODOLIST.TASK
        },
        created: function() {
            //tasks_vm.tasks=data.TODOLIST.TASK;
            //var _self = this;
            /*
            this.$http.get("/api/v1/contents").then(function(data){
                var json=data.body;
                this.contents=json;
            });
            */
            //
            /*
            $.getJSON("/api/v1/contents", function(result) {
                console.log(result);
                //_self.contents = result
                contents_vm.contents=result;
            });*/
        }
    });
